$border-color = black
$font-size-small = 12px
$max-width = 1920px

table
  margin-left auto
  margin-right auto
  border-collapse collapse
  width 100%
  max-width $max-width
  border 1px solid $border-color

th, td
  padding 10px
  border 1px solid $border-color
  vertical-align top

.logo
  width 6%
  border-radius 4px

img
  width 100%
  height auto

.second-img
  display flex
  justify-content space-between

.second-img img
  width 50%
  height auto

.side-article
  font-size $font-size-small

.side-colum
  border-left 1px solid $border-color